{% extends 'base.html.twig' %}

{% block body %}
<br>
<center>
<h2 style="color:rgb(0, 0, 0);">Actulality</h2>
</center>
<br>
<br>
<br>


<center>
  
<table width="50%" border="1" cellspacing="1" cellpadding="5">
    <tr>
        <th><center>Article</center></th>
        <th><center>Text</center></th>
        <th><center>Date</center></th>
        
    </tr>
    {% for key in categ %}
    <tr>
       <td><center>{{ key.article|e }}</center></td>
       <td><center>{{ key.text|e }}</center></td>
       <td><center>{{ key.date|e }}</center></td>
        
   </tr>
   {% endfor %}
</table>
</center>

{% endblock %}